@import "../../../assets/css/variables";

.all-filters-container {
  position: sticky;
  top: 5.5rem;
  z-index: 10;
  box-shadow: $modal-box-shadow;
  border-radius: $border-radius;
  margin-top: -4.1rem;
}
.order-summary,
.phone-name,
.price {
  letter-spacing: 0.4px;
}
.phone-name,
.price {
  font-size: 0.8rem;
}
.total-wrapper {
  color: $auth-tab-color;
}
.phone-name {
  color: $name-color;
}
.price {
  color: $price-color;
  font-weight: 400;
}
.form-grid {
  display: grid;
  grid-template-areas:
    "progress-span progress-span"
    "name-group phone-group"
    "pincode-group address-group"
    ". btn-grid";
  gap: 0 1rem;
  grid-template-columns: repeat(2, 1fr);

  #progress-span {
    grid-area: progress-span;
    height: 1.5rem;
  }
  #name-group {
    grid-area: name-group;
  }
  #phone-group {
    grid-area: phone-group;
  }
  #pincode-group {
    grid-area: pincode-group;
  }
  #address-group {
    grid-area: address-group;
  }
  .btn-grid {
    grid-area: btn-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .btn-theme,
    .checkout-cancel-btn {
      font-size: 1rem;
      border-radius: 0.2rem;
      border: none;
      transition: $transition-ease;
    }
    .btn-theme {
      background-color: $custom-orange;
      box-shadow: $theme-btn-box-shadow;
      &:hover {
        background-color: $custom-orange-dark;
        box-shadow: none;
      }
    }
    .checkout-cancel-btn {
      background-color: $light-bg-color;
      color: #000;
      box-shadow: $checkout-cancel-btn-box-shadow;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
