@import "../../../assets/css/variables";

.tagline-container {
  background-color: $name-color;
  margin-top: 5rem;
  padding: 3rem 1rem 5rem 11.3rem;
  h1 {
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .filter-container {
    position: relative;
    top: 4rem;
    left: 3.5rem;

    span {
      width: 5rem;
    }

    select {
      cursor: pointer;
    }
  }
  .subTagline {
    position: absolute;
    top: 12.5rem;
  }
  .subTaglineCenter {
    left: 39.7rem;
  }
  .subTaglineLeft {
    left: 20.4rem;
  }
}
