<div class="d-flex tagline-container">
  <div class="offset-sm-auto offset-lg-1">
    <h1 class="h3 m-0 text-light">{{ taglineStr }}</h1>
  </div>
  <div
    *ngIf="taglineStr == 'Own your latest one'"
    class="filter-container d-flex align-items-center"
  >
    <span class="text-white mr-2">Sort by</span>
    <select [(ngModel)]="sortType" (change)="sortPhones()" class="form-control">
      <option value="">Recommended</option>
      <option value="asc">Price Low to High</option>
      <option value="desc">Price High to Low</option>
    </select>
  </div>
  <h5
    class="subTagline text-white"
    [ngClass]="{
      subTaglineCenter: subTagLinePos == 'center',
      subTaglineLeft: subTagLinePos == 'left'
    }"
    *ngIf="subTaglineStr?.trim().length > 0"
  >
    {{ subTaglineStr }}
  </h5>
</div>
