@import "../../../assets/css/variables";

.all-filters-container {
  position: sticky;
  top: 5.5rem;
  z-index: 10;
  box-shadow: $modal-box-shadow;
  border-radius: $border-radius;
  margin-top: -4.1rem;

  .heading {
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .action-group-heading,
  .user-email {
    font-size: 0.875rem;
  }
  .user-email {
    color: $price-color;
  }
  .action-group-wrapper {
    background-color: #f6f9fc;

    .action-group-heading {
      color: $muted-text-color;
    }
  }
  .action-item {
    transition: color 1s ease-in 1s;
    &:hover {
      cursor: pointer;
    }
    .active-action,
    &:hover .action-text {
      color: $custom-orange !important;
    }
    .action-text {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}
