<table class="table table-hover" *ngIf="orderList?.length > 0; else emptyOrders">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Order date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList; let i = index">
      <td class="order-id-td">
        <p
          class="p-0 m-0 mt-2 w-auto font-weight-bold"
          (click)="openOrderDetails(order.orderId)"
        >
          {{ order.orderId }}
        </p>
      </td>
      <td class="order-date-td">
        <p class="p-0 m-0 mt-2 w-auto">
          {{ order.orderDate | date: "MMM d, y, h:mm:ss a" }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #emptyOrders>
  <div class="d-flex align-items-center justify-content-center flex-column h-100 w-100">
    <h3 class="letter-spacing-point-5">No orders placed</h3>
    <button class="letter-spacing-point-5 btn redirect-btn mt-2" (click)="redirectToHome()">
      Continue shopping
    </button>
  </div>
</ng-template>
<div class="order-details" *ngIf="showOrderDetailPopup === true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Order details</h5>
        <button
          type="button"
          class="close"
          (click)="showOrderDetailPopup = false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">
        <table class="table">
          <tbody>
            <tr *ngFor="let item of orderDetails">
              <td class="w-15 phone-image-td">
                <img
                  [src]="item.imgUrl"
                  [alt]="item.brandName + '-' + item.modelName"
                />
              </td>
              <td>
                <p class="m-0 phone-name">
                  {{ item.brandName + "-" + item.modelName }}
                </p>
                <p class="price">
                  {{ item.priceEur * getCurrentINRValue() | currency: "INR" }}
                </p>
              </td>
              <td class="w-15">
                <p class="m-0 text-secondary text-center">Quantity</p>
                <p class="text-center">{{ item.quantity }}</p>
              </td>
              <td class="w-15">
                <p class="m-0 text-secondary text-center">Subtotal</p>
                <p class="text-center">
                  {{
                    item.quantity * item.priceEur * getCurrentINRValue()
                      | currency: "INR"
                  }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <p class="text-secondary ml-auto">Total:</p>
        <span> {{ getTotal() | currency: "INR" }}</span>
      </div>
    </div>
  </div>
</div>
