@import "../../../../assets/css/variables";

tbody {
  font-size: 0.9rem;
  .order-id-td p {
    transition: color 0.1s ease;
    cursor: pointer;
    &:hover {
      color: $custom-orange;
    }
  }
}
.order-details {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  height: 100%;
  width: 100%;
  background-color: $modal-outer-bg-color;
  display: flex;
  align-items: center;

  .modal-dialog {
    max-width: initial;

    .modal-content {
      width: 40vw;
      .modal-header .close {
        outline: none;
      }

      .modal-body {
        max-height: 60vh;
        overflow: auto;

        table {
          .w-15 {
            width: 15%;
          }
          .phone-image-td img {
            height: 7rem;
          }
          .phone-name,
          .price {
            font-size: 0.875rem;
          }
          .phone-name {
            font-weight: 500;
            letter-spacing: 0.5px;
            color: $name-color;
          }
          .price {
            color: $price-color;
            font-weight: 400;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
}
