<div
  class="d-flex align-items-center justify-content-between all-filters border-bottom w-100 px-3 mt-2"
>
  <p class="heading text-uppercase">filters</p>
  <p
    class="clear-all text-uppercase"
    *ngIf="showClearAll"
    (click)="resetBrands()"
  >
    clear all
  </p>
</div>
<div class="border-bottom w-100 mt-2">
  <h6 class="text-uppercase sub-heading pt-3 pl-3">price</h6>
  <div class="px-3 py-2">
    <p class="m-0">{{ selectedMinPrice }} - {{ selectedMaxPrice }}</p>
    <input
      type="range"
      class="w-100 px-3"
      [(ngModel)]="selectedMinPrice"
      [min]="priceRange?.minPrice"
      [max]="priceRange?.maxPrice"
    />
    <input
      type="range"
      class="w-100 px-3"
      [(ngModel)]="selectedMaxPrice"
      [min]="priceRange?.minPrice"
      [max]="priceRange?.maxPrice"
    />
    <div class="slider m-0">
      <div class="track"></div>
      <div class="range"></div>
      <div class="thumb left"></div>
      <div class="thumb right"></div>
    </div>
  </div>
</div>
<div class="brand-filter-container">
  <div class="d-flex align-items-center">
    <h6 class="text-uppercase sub-heading pt-3 pl-3">brand</h6>
    <input
      type="text"
      class="search-bar mt-2"
      placeholder="Search for Brands"
      [hidden]="!searchClicked"
      [(ngModel)]="brandInput"
      (keyup)="filterBrands()"
    />
    <button class="search mt-2" (click)="handleInputText()">
      <img
        src="/assets/icons/search.svg"
        class="bi bi-search"
        *ngIf="!searchClicked"
      />
      <img
        src="/assets/icons/close.svg"
        class="bi bi-x"
        *ngIf="searchClicked"
      />
    </button>
  </div>
  <div class="card-body py-1 ml-3 mt-2">
    <ng-container *ngFor="let bm of brandsMapCopy | keyvalue; let i = index">
      <ng-container *ngFor="let b of bm.value">
        <div *ngIf="i < 3">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="b.id"
            [id]="b.id"
            [(ngModel)]="b.checked"
            (change)="fetchModels()"
            name="brand"
          />
          <label
            class="form-check-label pl-1 d-flex align-items-center"
            [for]="b.id"
          >
            {{ b.name }}
            <span class="model-count"> ({{ b.count }}) </span>
          </label>
        </div>
      </ng-container>
    </ng-container>
    <p
      *ngIf="totalBrands > 0"
      class="more-brands py-2 p-0 m-0"
      (click)="showMoreBrands()"
    >
      +{{ totalBrands }} more
    </p>
  </div>
  <div
    #moreBrandsContainer
    class="card more-brands-container p-0"
    *ngIf="moreBrandsClicked"
  >
    <div
      class="d-flex align-items-center justify-content-between top-bar border-bottom p-2"
    >
      <input
        type="text"
        placeholder="Search for Brands"
        (keyup)="filterBrands($event)"
      />
      <div class="px-2 brand-alphabets d-flex flex-fill">
        <p
          (click)="scrollTo(i)"
          (mouseenter)="reduceOpacity(i, b.key)"
          (mouseleave)="resetOpacity()"
          class="hover-pointer pr-2"
          *ngFor="let b of brandsMap | keyvalue; let i = index"
          [ngClass]="{ 'disable-brand-letter-click': !brandsMapCopy[b.key] }"
        >
          {{ b.key }}
        </p>
      </div>
      <button (click)="hideMoreBrandsContainer()">
        <img src="/assets/icons/close.svg" class="bi bi-x" />
      </button>
    </div>
    <div
      #allBrands
      class="card-body all-brands d-flex flex-column flex-wrap mb-0 py-0"
    >
      <ng-container *ngFor="let bm of brandsMapCopy | keyvalue; let i = index">
        <div class="pr-5" #brandLetter [attr.id]="'brandId-' + i">
          <p class="m-0 font-weight-500">{{ bm.key }}</p>
        </div>
        <div
          class="pr-5"
          #brandCb
          [attr.id]="'brandCb-' + bm.key"
          *ngFor="let b of bm.value; let i = index"
        >
          <input
            type="checkbox"
            [value]="b.id"
            [(ngModel)]="b.checked"
            (change)="fetchModels()"
            [id]="'_' + b.id"
            name="all-brand"
          />
          <!-- class="form-check-input" -->
          <label class="pl-2" [for]="'_' + b.id">
            {{ b.name }}
            <span class="model-count"> ({{ b.count }}) </span>
          </label>
        </div>
      </ng-container>
    </div>
  </div>
</div>
