@import "../../../assets/css/variables";

.tab-content > .tab-pane,
.modal {
  display: block;
}
.modal {
  opacity: 1;
  background-color: $modal-outer-bg-color;
  .modal-header {
    .nav-tabs {
      .nav-link {
        transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
          box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
        font-weight: 500;
        border-color: transparent;
        color: $auth-tab-color;
        margin-bottom: -4px;
        &:hover,
        &.active {
          color: $custom-orange;
          cursor: pointer;
        }
        &.active {
          border-bottom: 1px solid $custom-orange;
          border-color: transparent transparent $custom-orange;
        }
      }
    }
    .close {
      outline: none;
      .card-header-tabs {
        margin-bottom: -0.95rem;
      }
    }
  }
  .modal-body {
    padding: 0;
    .form-group {
      margin-bottom: 0.5rem;
    }
    .btn-theme {
      font-size: 1rem;
      border-radius: 0.2rem;
      background-color: $custom-orange;
      border: none;
      box-shadow: $theme-btn-box-shadow;
      transition: $transition-ease;
      &:hover {
        background-color: $custom-orange-dark;
        box-shadow: none;
      }
    }
    label {
      padding-top: 0.0625rem;
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }
}
