@import "../../../../assets/css/variables";

.table {
  .phone-image-td {
    width: 10%;

    .phone-image {
      height: 120px;
    }
  }
  .quantity-text,
  .phone-name {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $name-color;
  }
  .phone-desc-td {
    width: 60%;

    .phone-name,
    .price {
      font-size: 0.875rem;
    }
    .phone-name {
      width: 180px;
      cursor: pointer;
      transition: color 0.5s ease;

      &:hover {
        color: $custom-orange;
      }
    }
    .price {
      color: $price-color;
      font-weight: 400;
      letter-spacing: 0.3px;
    }
  }
  .remove-phone-td {
    width: 5%;
    .quantity-text {
      font-size: 0.875rem;
    }
    .quantity-input {
      font-size: small;
    }
  }
  tfoot {
    .add-to-cart-btn {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.2rem;
      border: none;
      transition: $transition-ease;
      background-color: $custom-orange;
      box-shadow: $theme-btn-box-shadow
    }
    .add-to-cart-btn:hover {
      box-shadow: none;
      background-color: $custom-orange-dark;
    }
  }
}
