<table class="table" *ngIf="cartItems?.length > 0; else emptyCart">
  <tbody>
    <tr *ngFor="let cartItem of cartItems; let i = index">
      <td class="phone-image-td">
        <img
          [src]="cartItem.modelImgUrl"
          [alt]="cartItem.modelName"
          class="phone-image"
        />
      </td>
      <td class="phone-desc-td">
        <p
          class="p-0 m-0 mt-2 phone-name w-auto"
          (click)="openPhoneDetails(cartItem)"
        >
          {{ cartItem.brandName }}-{{ cartItem.modelName }}
        </p>
        <p class="p-0 m-0 price">
          {{ cartItem.priceEur * getCurrentINRValue() | currency: "INR" }}
        </p>
      </td>
      <td class="remove-phone-td">
        <p class="m-0 mt-1 p-0 quantity-text">Quantity</p>
        <input
          type="number"
          class="form-control quantity-input"
          [(ngModel)]="cartItem.quantity"
        />
        <button
          type="button"
          class="btn btn-sm btn-danger mt-1 w-100"
          (click)="removePhone(cartItem)"
        >
          Remove
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <button
          class="btn d-flex align-items-center justify-content-center w-auto add-to-cart-btn ml-auto px-4"
          (click)="checkout()"
        >
          <img src="/assets/icons/credit-card.svg" />
          <span class="pl-2 text-white">Proceed to checkout</span>
        </button>
      </td>
    </tr>
  </tfoot>
</table>
<ng-template #emptyCart></ng-template>
