<app-header></app-header>
<div class="row pl-3">
  <ng-container *ngFor="let p of phones">
    <div class="phone-card card mx-3 mb-3">
      <div class="card-body">
        <button
          class="btn d-flex align-items-center justify-content-center wishlist-btn"
          (click)="emitAddToWishlist(p)"
        >
          <img src="/assets/icons/wishlist-heart.svg" />
        </button>
        <div (click)="openPhoneDetails(p)">
          <img [src]="p.imgUrl" [alt]="p.name" class="phone-image" />
          <p class="p-0 m-0 mt-2 phone-name">{{ p.brandName }}-{{ p.name }}</p>
          <p class="p-0 m-0 price">Rs.{{ p.priceEur }}</p>
        </div>
      </div>
      <div
        class="card-body extra-options p-0 m-0 pb-3 d-flex justify-content-center"
      >
        <button
          class="btn d-flex align-items-baseline justify-content-center w-100 mx-3 add-to-cart-btn"
          (click)="emitAddToCart(p)"
        >
          <img src="/assets/icons/cart.svg" />
          <span class="pl-1 text-white">Add to cart</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>
<router-outlet></router-outlet>
