@import "../../../assets/css/variables";

.default-phone-image,
.phone-image {
  height: 250px;
}
.phone-image {
  width: 180px;
}
.default-phone-image {
  width: 140px;
}
.phone-name,
.price {
  font-size: 0.875rem;
}
.phone-name {
  width: 180px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: $name-color;
}
.card {
  border: none !important;
  background-color: #fff !important;
  border-radius: $border-radius !important;
}
.phone-card:hover {
  cursor: pointer;
  transition: $transition-ease;
  box-shadow: $phone-modal-box-shadow;
}
.phone-card:hover > .extra-options {
  display: flex !important;
}
.price {
  color: $price-color;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.extra-options {
  display: none !important;
  transition: all 0.15s ease-in-out;
  box-shadow: $phone-modal-box-shadow;
  position: absolute;
  top: 100%;
  margin-top: -0.8rem !important;
  transition: all 0.15s ease-in-out;
  border: none;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  border-top: 0;
  z-index: 1;
  width: 100%;
}
.add-to-cart-btn {
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: $custom-orange;
  border: none;
  box-shadow: $theme-btn-box-shadow;
  transition: $transition-ease;
}
.add-to-cart-btn:hover {
  background-color: $custom-orange-dark;
  box-shadow: none;
}
.wishlist-btn {
  background-color: $light-bg-color;
  border-radius: 50%;
  box-shadow: $wishlist-btn-box-shadow;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  z-index: 1;
  right: 1rem;

  &:hover {
    box-shadow: $wishlist-hover-btn-box-shadow;
    background-color: #fff;
  }
}
