@import "../../../../assets/css/variables";

.form-grid {
  display: grid;
  grid-template-areas:
    "progress-span progress-span"
    "name-group phone-group"
    "email-group pincode-group"
    "address-group address-group"
    ". button";
  gap: 0 1rem;

  #progress-span {
    grid-area: progress-span;
    height: 1.5rem;
  }
  #name-group {
    grid-area: name-group;
  }
  #phone-group {
    grid-area: phone-group;
  }
  #email-group {
    grid-area: email-group;
  }
  #pincode-group {
    grid-area: pincode-group;
  }
  #address-group {
    grid-area: address-group;
  }

  .btn-theme {
    grid-area: button;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: $custom-orange;
    border: none;
    box-shadow: $theme-btn-box-shadow;
    transition: $transition-ease;
    width: 10rem;
    &:hover {
      background-color: $custom-orange-dark;
      box-shadow: none;
    }
  }
}
