.form-grid {
  display: grid;
  grid-template-areas:
    "progress-span progress-span"
    "name-group phone-group"
    "email-group pincode-group"
    "address-group address-group"
    ". button";
  gap: 0 1rem;

  #progress-span {
    grid-area: progress-span;
  }
  #name-group {
    grid-area: name-group;
  }
  #phone-group {
    grid-area: phone-group;
  }
  #email-group {
    grid-area: email-group;
  }
  #pincode-group {
    grid-area: pincode-group;
  }
  #address-group {
    grid-area: address-group;
  }

  .btn-theme {
    grid-area: button;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: #fe696a;
    border: none;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(254 105 106 / 90%);
    transition: all 0.2s ease;
    width: 10rem;
    &:hover {
      background-color: #ff4142;
      box-shadow: none;
    }
  }
}
