<table class="table" *ngIf="wishlistItems?.length > 0; else emptyCart">
  <tbody>
    <tr *ngFor="let wishlistItem of wishlistItems; let i = index">
      <td class="phone-image-td">
        <img
          [src]="wishlistItem.modelImgUrl"
          [alt]="wishlistItem.modelName"
          class="phone-image"
        />
      </td>
      <td class="phone-desc-td">
        <p
          class="p-0 m-0 mt-2 phone-name w-auto"
          (click)="openPhoneDetails(wishlistItem)"
        >
          {{ wishlistItem.brandName }}-{{ wishlistItem.modelName }}
        </p>
        <p class="p-0 m-0 price">
          {{ wishlistItem.priceEur * getCurrentINRValue() | currency: "INR" }}
        </p>
      </td>
      <td class="remove-phone-td">
        <button
          type="button"
          class="btn btn-sm btn-danger w-100"
          (click)="removePhone(wishlistItem)"
        >
          Remove
        </button>
        <button
          type="button"
          class="btn btn-sm btn-light mt-2 w-100 px-0 py-2"
          (click)="addToCartFromWishlist(wishlistItem)"
        >
          Add to cart
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #emptyCart></ng-template>
