@import "./assets/css/bootstrap.min.scss";

* {
  margin: 0;
  padding: 0;
}

.font-weight-500 {
  font-weight: 500;
}

.h-fit-content {
  height: fit-content;
}

.visibility-visible {
  visibility: visible !important;
}

.visibility-hidden {
  visibility: hidden !important;
}
