@import "./assets/css/variables";
@import "./assets/css/bootstrap.min.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.font-weight-500 {
  font-weight: 500;
}

.text-muted {
  color: $muted-text-color !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.toaster {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 10;
}

.toaster.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.letter-spacing-point-5 {
  letter-spacing: 0.5px;
}
.redirect-btn {
  background-color: $name-color;
  color: #fff;

  &:hover {
    color: #fff;
  }
}
