<div
  *ngIf="page.totalPage > 0"
  class="border-top mt-4 pt-3 d-flex align-items-center"
>
  <p class="pagination-message">Page {{ currentPage + 1 }} of {{ page.totalPage + 1 }}</p>
  <nav class="ml-auto">
    <ul class="pagination">
      <li
        class="page-item mr-3"
        *ngIf="currentPage > 0"
        (click)="gotoPrevPage()"
      >
        <a class="page-link">Previous</a>
      </li>

      <li
        *ngFor="let p of getPageNumArray()"
        class="page-item"
        [ngClass]="{ active: p == currentPage }"
        (click)="gotoPage(p)"
      >
        <a class="page-link">{{ p + 1 }}</a>
      </li>

      <li
        class="page-item ml-3"
        *ngIf="currentPage < page.totalPage"
        (click)="gotoNextPage()"
      >
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
