$custom-orage: #fe696a;

nav,
.pagination-message {
  font-size: 13px;
}
.pagination-message {
  font-weight: 500;
}
nav {
  ul li {
    cursor: pointer;
  }
}
.page-item.active .page-link {
  background-color: $custom-orage;
  border-color: $custom-orage;
  &:hover {
    color: #fff;
  }
}
.page-link {
  color: $custom-orage;
  &:hover {
    color: $custom-orage;
  }
}
