$custom-orange: #fe696a;
$custom-orange-dark: #ff4142;
$price-color: #4e54c8;
$name-color: #373f50;
$muted-text-color: #7d879c;
$auth-tab-color: #4b566b;
$modal-outer-bg-color: #00000080;
$light-bg-color: #f8f9fa;

$primary-box-shadow-values: 0 0.3rem 1.525rem -0.375rem;
$secondary-box-shadow-values: 0 0.5rem 1.125rem -0.5rem;
$modal-box-shadow: $primary-box-shadow-values #0000001a;
$phone-modal-box-shadow: $primary-box-shadow-values #00000033;
$theme-btn-box-shadow: $secondary-box-shadow-values #fe696ae6;
$wishlist-btn-box-shadow: 0px 0px 2px 1px #dee2e6;
$wishlist-hover-btn-box-shadow: 0px 0px 5px 1px #dee2e6;
$checkout-cancel-btn-box-shadow: $secondary-box-shadow-values #5a62686e;

$transition-ease: all 0.2s ease;

$border-radius: 0.4375rem;
