@import "../../../assets/css/variables";

.all-filters-container {
  position: sticky;
  top: 5.5rem;
  z-index: 10;
  box-shadow: $modal-box-shadow;
  border-radius: $border-radius;
  margin-top: -4.1rem;
}
