<nav class="navbar fixed-top header-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shreeji Shop</a>
  <input class="form-control col-sm-4 col-lg-5" type="search" placeholder="Search..." />
  <div class="buttons">
    <button class="btn btn-primary mr-2" type="button" (click)="openProfileSafe()">Profile</button>
    <button class="btn btn-primary mr-2" type="button">Wishlist</button>
    <button class="btn btn-primary mr-2" type="button">Bag</button>
  </div>
</nav>