<nav class="navbar fixed-top header-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shreeji Shop</a>
  <input
    class="form-control col-sm-4 col-lg-5"
    type="search"
    placeholder="Search..."
  />
  <div class="user-actions">
    <div class="header-btn profile-wrapper">
      <img src="/assets/icons/person.svg" class="action-icon profile-icon" />
      <span class="text-secondary">Profile</span>
      <div class="p-2 border profile-options">
        <ng-container *ngIf="isLoggedIn">
          <p class="user-welcome-msg border-bottom">Hello {{ userName }}</p>
          <p class="login-action m-0" (click)="navigateToOrders()">Orders</p>
          <p class="login-action m-0" (click)="navigateToEditProfile()">Edit Profile</p>
          <p class="login-action m-0" (click)="logout()">Logout</p>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <button
            class="btn auth-btn text-uppercase"
            type="button"
            (click)="navigateToAuthentication()"
          >
            login / signup
          </button>
        </ng-container>
      </div>
    </div>
    <div class="header-btn wishlist" (click)="navigateToWishlist()">
      <img src="/assets/icons/wishlist.svg" class="action-icon wishlist-icon" />
      <span class="text-secondary">Wishlist</span>
    </div>
    <div class="header-btn bag" (click)="navigateToCart()">
      <img src="/assets/icons/bag.svg" class="action-icon bag-icon" />
      <span class="text-secondary">Bag</span>
    </div>
  </div>
</nav>
