<app-tagline [tagLine]="tagLineSub.asObservable()"></app-tagline>
<div
  class="d-flex offset-sm-auto offset-lg-2 col-sm-12 col-lg-8 p-2 mb-4 phone-detail-container bg-white"
>
  <img
    [src]="phoneDetail?.imgUrl"
    [alt]="phoneDetail?.name"
    class="phone-image card m-3 p-3"
  />
  <div class="w-100 p-3">
    <div class="card highlights-container">
      <h3 class="card-header bg-white price pb-2 border-bottom">
        Rs.{{ phoneDetail?.priceEur }}
      </h3>
      <ng-container *ngFor="let att of phoneAttributes | keyvalue">
        <div class="category-content d-flex flex-column border-bottom pb-3">
          <div class="category-container d-flex align-items-center">
            <img [src]="'/assets/icons/' + att.key + '.svg'" [alt]="att.key" />
            <p class="text-capitalize category-title ml-2 m-0 p-0">
              {{ att.key }} Features
            </p>
          </div>
          <div
            class="attributes-container d-flex align-items-center py-2"
            *ngFor="let a of att.value | keyvalue"
          >
            <p class="attribute-title text-capitalize ml-2 m-0 p-0">
              {{ a.key }}
            </p>
            <p class="attribute-value text-capitalize ml-2 m-0 p-0">
              {{ a.value }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="mt-3 d-flex">
      <button
        class="btn d-flex align-items-baseline justify-content-center w-100 add-to-cart-btn mr-2"
        (click)="addToCartDetailBtn()"
      >
        <img src="/assets/icons/cart.svg" class="bi bi-cart2" />
        <span class="pl-1 text-white">Add to cart</span>
      </button>
      <button
        class="btn d-flex align-items-center justify-content-center w-100 add-to-wishlist-btn ml-2"
      >
        <img src="/assets/icons/wishlist-heart.svg" />
        <span class="pl-1">Add to wishlist</span>
      </button>
    </div>
  </div>
</div>
<div
  class="py-3 px-0 mb-3 d-flex flex-column offset-sm-auto offset-lg-2 col-sm-12 col-lg-8"
>
  <p class="other-phones">More from {{ brandName }}</p>
  <app-phone-model
    [phoneResponse]="phoneModelSubject.asObservable()"
    (addToCart)="addToCartWithAuth($event)"
    (addToWishlist)="addToWishlistWithAuth($event)"
  ></app-phone-model>
</div>
<p #toaster class="toaster p-2 text-white bg-dark mb-3 w-auto rounded">
  {{ toasterMessage }}
</p>
